<app-hero-baner></app-hero-baner>

<mat-toolbar>
  <mat-form-field style="width: 100%" floatLabel='never'>
  <input
         matInput
         [(ngModel)]="searchText"
         placeholder="Search"
         autocomplete="off" >
</mat-form-field>
</mat-toolbar>

<div class="container margin" fxLayout="row wrap" fxLayoutAlign="space-evenly stretch" fxLayoutGap="20px">
    <mat-card fxFlexFill fxFlex="0 1 calc(20% - 20px)" class="restaurant" fxLayout="column" tabindex="0" *ngFor="let restaurant of restaurants | filter : searchText;let i=index">
    <mat-card-title-group>
      <mat-card-title class="image">
      <img mat-card-image src="{{restaurant.image}}">
      </mat-card-title>
      <mat-card-subtitle class='subtitle' align="left"style="font-size:medium;line-height: 1; color:#000000">
        {{restaurant.header}}
      </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content fxLayoutAlign="center center" style="text-align:center">
      <p align="left">
    {{restaurant.body}}
    </p>
        <br/>
    </mat-card-content>
    <mat-card-actions fxFlexAlign="end" align="left">
      <button mat-button (click)="navigate(restaurant.id,restaurant.header)" color='accent' style="font-size: medium;">Reserve...</button>
    </mat-card-actions>
  </mat-card>
</div>

